<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Application keys-->
    <add key="passwordAdmin" value="1234" />
    <add key="ProtheusApiBaseAddress" value="http://192.1.1.30:8081/api/" />
    <add key="ConsultaPlacaApi" value="https://apicarros.com/v1/consulta/" />
    <add key="ConsultaPlacaFragaApi" value="http://apidemo.catalogofraga.com.br/v1/" />
    <add key="ConsultaPlacaWS" value="http://10.200.186.29:9001/api" />
    <add key="ConsultaPlacaWSAuxiliar" value="https://www.checkmeucarro.com.br/minha-conta/pesquisaGratis/pesquisar/" />

    <add key="ElasticSearchAddress" value="http://10.200.186.29:9200/neo4j-index-node/ProdutoCadastro/_search" />
    <add key="DellaViaAddress" value="http://10.200.186.29:4747/" />
    <add key="LogoDellaViaAddress" value="https://dellavia.vteximg.com.br/arquivos/dellavia-logo.png" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <!--<add key="DadosEnvioEmail" value="imap-mail.outlook.com;587;t.dev1@dellavia.com;amcom.amcom;amcomteste@outlook.com" />-->
    <add key="DadosEnvioEmail" value="imap-mail.outlook.com;587;t.dev1@dellavia.com.br;Dellavia@2019;t.dev1@dellavia.com.br" />
    <!--End-->
  </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>

    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097152" />

    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-3.2.2.0" newVersion="3.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>

    <add name="DellaviaGrafoContexto" connectionString="http://10.200.186.29:7474/db/data;neo4j;dellavia" providerName="System.Data.SqlClient" />
    <!-- Banco de PROD na della via-->
    <!--<add name="elmah" connectionString="Server=10.200.186.27;Database=frenteloja;User Id=amcom.terceiro;Password=amcom@della1107" providerName="System.Data.SqlClient" />
    <add name="DellaviaContexto" connectionString="Server=10.200.186.27;Database=frenteloja;User Id=amcom.terceiro;Password=amcom@della1107; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="Fraga" connectionString="Server=10.200.186.27;Database=Fraga;User Id=t.dev1;Password=Dellavia@2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->

    <!-- Banco de DEV na della via-->
    <!--<add name="elmah" connectionString="10.200.186.27\MSSQL_DESENV;Database=frenteloja;User Id=amcom.terceiro;Password=amcom@della1107" providerName="System.Data.SqlClient" />-->
    <!--<add name="DellaviaContexto" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=frenteloja_dev;User Id=FrenteDeLojaApp;Password=frente@loja2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="Fraga" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=Fraga_Dev;User Id=FrenteDeLojaApp;Password=frente@loja2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PowerData" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=PowerData;User Id=FrenteDeLojaApp;Password=frente@loja2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <add name="DellaviaContexto" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=frenteloja_dev;User Id=app.frentedeloja;Password=Fr3nt3DL0j4@1919#; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="Fraga" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=Fraga_Dev;User Id=app.frentedeloja;Password=Fr3nt3DL0j4@1919#; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PowerData" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=PowerData;User Id=app.frentedeloja;Password=Fr3nt3DL0j4@1919#; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!--<add name="DellaviaContexto" connectionString="Data Source=.\;Initial Catalog=frenteloja;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
    <!-- Banco de DEV na AMcom-->
    <!--<add name="elmah" connectionString="Server=BNU-B2B01.amcom.intranet\SQLEXPRESS;Database=Dellavia;User Id=sa;Password=Me#300Smoking" providerName="System.Data.SqlClient" />-->
    <!--<add name="DellaviaContexto" connectionString="Server=BNU-B2B01.amcom.intranet\SQLEXPRESS;Database=Dellavia;User Id=sa;Password=Me#300Smoking; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah" applicationName="DV.FrenteLoja" />
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="Administrativo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength, for IIS, in bytes -->
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>