<div id="App"></div>
<div id="produto-nao-encontrado" style="display:none"><h2>Produto não encontrado!</h2></div>
<div class="modal" id="relacionado-grid" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="modal" id="modal-produto-editar" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="modal" id="estoque" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="modal" id="complemento" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script type="text/babel" src="~/Scripts/app/React/produto.js">
</script>