@model DV.FrenteLoja.Core.Contratos.DataObjects.OrcamentoDto
<div class="menu-wizard">
    <ul name="Wizard">
        <li class="flex-coluna" id="li-veiculo" name="VeiculoCliente" onclick="submitWizard('VeiculoCliente')">
            <span class="menu-wizard-icon" data-icon="n"></span>
            <span class="menu-wizard-texto">veículo e cliente</span>
        </li>
        <li class="flex-coluna" id="li-equipe" name="EquipeVendas" onclick="submitWizard('EditarEquipeVendas')">
            <span class="menu-wizard-icon" data-icon="D"></span>
            <span class="menu-wizard-texto">equipe de vendas</span>
        </li>
        <li class="flex-coluna" name="BuscaProduto" onclick="submitWizard('BuscaProduto')">
            <span class="menu-wizard-icon" data-icon="x"></span>
            <span class="menu-wizard-texto">produtos e serviços</span>
        </li>
        <li class="flex-coluna" name="Negociacao" onclick="submitWizard('Negociacao')">
            <span class="menu-wizard-icon" data-icon="q"></span>
            <span class="menu-wizard-texto">negociação</span>
        </li>
        <div class="seta-baixo"></div>
        <li class="flex-coluna" name="Finalizacao" onclick="submitWizard('Finalizacao')">
            <span class="menu-wizard-icon" data-icon="o"></span>
            <span class="menu-wizard-texto">finalização</span>
        </li>
    </ul>
</div>

@using (Html.BeginForm("RedirectWizard", "Orcamento", FormMethod.Post, new { id = "redirect-wizard" }))
{
    @Html.HiddenFor(model => model.Id)
    <input name="action" id="action" type="hidden" />
}

@if (Model != null)
{
    <div id="tooltip-veiculo" style="display:none">

      @Html.Partial("_PopupInformacaoWizard", Model.TooltipInformacoesVeiculo)

    </div>
}

@if (Model != null)
{
    <div id="tooltip-equipe" style="display:none">

      @Html.Partial("_PopupInformacaoWizard", Model.TooltipInformacoesEquipeVenda)

    </div>
}

<script>
    function submitWizard(action) {
        if ($("#Id").val() > 0) {
            var menssagem = '';
            if (action == "BuscaProduto") {
                var mandatorios = [
                    { id: "Vendedor", text: "Vendedor" },
                    { id: "AreaNegocio", text: "Área de negócio" },
                    { id: "DataValidade", text: "Data de validade" }
                ]
                mandatorios.forEach(function (item) {
                    if (!$("#" + item.id).val()) {
                        menssagem += "O campo " + item.text + " é obrigatório. <br />";
                    }
                });
                if ($("#TipoOrcamento").val() === "1") { //1 = telemarketing
                    if (!$("#LojaDestino").val()) {
                      menssagem += "O campo Loja destino é obrigatório. <br />"
                    }
                }
            }
            if (action == "Negociacao") {
                if ($('#OrcamentoProdutoCount').val() == "0") {
                    menssagem += "É necessário incluir ao menos um produto ou serviço. <br />"
                }
            }
            if (action == "Finalizacao") {
                //if ($('#OrcamentoProdutoCount').val() == "0" && ($("#ValorRestante").val() == "0,00" || $("#ValorRestante") == undefined)) {
                if ($('#OrcamentoProdutoCount').val() == "0") {
                    menssagem += "É necessário incluir ao menos um produto ou serviço. <br />"
                }
                if ($("#ValorRestante").val() !== "0,00") {
                    menssagem += "É necessário informar todas as condições de pagamento. <br />"
                }
                $("#ReservaEstoque").val($("#reserva").is(":checked"));
            }
            if (menssagem) {
                criaAlertaMensagem(menssagem);
                return false;
            }
            $("#action").val(action)
            $("#redirect-wizard").submit();
        }
    }

    (function () {
    $("#li-veiculo").attr('title', $("#tooltip-veiculo").html());
    $('#li-veiculo').tooltip({
        html: true,
        placement: 'right',
        container: '#li-veiculo',
        offset: "-70 -10"
    })

    $("#li-equipe").attr('title', $("#tooltip-equipe").html());
    $('#li-equipe').tooltip({
        html: true,
        placement: 'right',
        offset: "-70 -10"
    })

    var step = window.location.pathname.replace('/Orcamento/', '').split('/')[0].replace('Editar', ''); //exceção do equipe vendas que tem versao editar
    var wizard = document.getElementsByName("Wizard")[0];
    var arrow = $(".seta-baixo").remove();

    var steps = ["VeiculoCliente", "EquipeVendas", "BuscaProduto", "Negociacao", "Finalizacao"];
    steps.every(function (item, index) {
        $("li[name=" + item + "]").addClass("concluido");
        if (item === step && index < 4) {
        $(arrow).insertAfter($("li[name=" + item + "]"));
        return false;
        } else return true;
    })

    })();
</script>