<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Application keys-->
    <add key="ProtheusApiBaseAddress" value="http://192.1.1.185:8080/rest/" />
    <add key="IntervaloExecucaoServicoCadastrosBasicos" value="3" />
    <add key="IntervaloExecucaoServicoClienteServico" value="5" />
    <add key="IntervaloExecucaoServicoConvenioServico" value="30" /> 
    <add key="IntervaloExecucaoServicoDescontosServico" value="30" />
    <add key="IntervaloExecucaoServicoPrecoServico" value="1" />
    <add key="IntervaloExecucaoServicoProdutoServico" value="1" />
    <add key="IntervaloExecucaoServicoOrcamentoServico" value="1" />
    <!--End-->
  </appSettings>
  <connectionStrings>
    <add name="DellaviaGrafoContexto" connectionString="http://10.200.186.29:7474/db/data;neo4j;dellavia" providerName="System.Data.SqlClient" />
    <add name="elmah" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=frenteloja;User Id=t.dev1;Password=Dellavia@2019" providerName="System.Data.SqlClient" />
    <add name="DellaviaContexto" connectionString="Server=10.200.186.27\MSSQL_DESENV;Database=frenteloja;User Id=t.dev1;Password=Dellavia@2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>